<template>
  <v-app id="inspire">
     <v-tabs
      centered
      color="grey darken-2"
      dark
      icons-and-text
    >
      <v-tabs-slider color="yellow"></v-tabs-slider>
  
     <v-tab href="#tab-1" >
      Home
      <v-icon color="warning">favorite</v-icon>
    </v-tab>

    <v-tab href="#tab-2">
      Contact US
      <v-icon color="warning">phone</v-icon>
    </v-tab>

    <v-tab href="#tab-3">
      FAQ
      <v-icon color="warning">account_box</v-icon>
    </v-tab>
      <v-tab href="#tab-4">
        <v-icon color="warning">account_circle</v-icon>
      </v-tab>
  
      <v-tab-item value ="tab-1">
        <v-card flat>
          <ContainerComonenet msg="Welcome to SmartData VueJS Application "/>
        </v-card>
      </v-tab-item>
      <v-tab-item value ="tab-2">
        <v-card flat>
          <ContainerComonenet msg="Welcome to SmartData VueJS Application "/>
        </v-card>
      </v-tab-item>
      <v-tab-item value ="tab-3">
        <v-card flat>
          <ContainerComonenet msg="Welcome to SmartData VueJS Application "/>
        </v-card>
      </v-tab-item>
      <v-tab-item value ="tab-4">
        <v-card flat>
          <LoginComponenet></LoginComponenet>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ContainerComonenet from '@/components/container.comonenet.vue'; // @ is an alias to /src
import LoginComponenet from '@/components/auth/login/index.vue';
@Component({
  components: {
    ContainerComonenet,
    LoginComponenet,
  },
})
export default class Home extends Vue {
}
</script>
